*, *::after, *::before{
    box-sizing: border-box;
}
.icons{
    width: 20px;
}

body{
 --icon-color:#ff8800;
 --background-color: white;
 --title-color: #333;
 --button-background-color:var(--icon-color);
 --button-text-color:white;




    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;

}
body.dark{
--icon-color: #dad863;
--background-color: #333;
--title-color: white;
--button-background-color: var(--icon-color);
--button-text-color: var(--background-color);

}