*, *::after, *::before{
    box-sizing: border-box;
}

body{
 --icon-color:#ff8800;
 --background-color: #e4e2e2;
 --title-color: #333;
 --button-background-color:var(--icon-color);
 --button-text-color:white;
 



    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    transition: 1000ms ease-out;
    margin:0;
}

body.dark{
--icon-color: #dad863;
--background-color: #333;
--title-color: white;
--button-background-color: var(--icon-color);
--button-text-color: var(--background-color);

background-color: var(--background-color);
color:var(--title-color);
}
.sun-moon-icon{
    margin-right: 1rem;
}
.icons{
    width: 50px;
    stroke: var(--background-color);
}

.title{
    font-size: 2em;
}



.btn-theme-toggle{
    display: flex;
    justify-content:center;
    align-items:center;
    font-size:1.5rem;
    padding:.4rem .5rem;
    border:none;
    outline: none;
    border-radius: 5px;
    transition: transform,color, 500ms ease-in-out;
    transform:scale(.9);
    cursor: pointer;

    color:var(--button-text-color);
    background-color: var(--button-background-color);
}
.btn-theme-toggle:hover{
    transform: scale(1.1);
}

.sun-moon-container{
    --rotation: rotate(0deg);
    position:absolute;
    height: 200vmin;
    width: 100vw;
    transition:rotate, 2s;
    pointer-events: none;

    transform: var(--rotation);
    
}
.dark .sun-moon-container{
    --rotation: rotate(180deg);  
}
.sun-icon{
    position:absolute;
    top: 25%;
    right:10%;
    height:150px;
    width:150px;
    fill:var(--button-background-color);
    stroke: var(--button-background-color);
    transition: opacity 2s;
}

.moon-icon{
   position:absolute;
   bottom:25%;
   right: 10%;
   fill:var(--button-background-color);
   height:100px;
   width:100px;
   transform:rotate(180deg);
   transition: 2s;
   opacity: 0;
}
.dark .moon-icon{
    opacity: 1;
}
.dark .sun-icon{
    opacity: 0;
}